/*  -----GENERAL STYLES ----- */
* {
  list-style-type: none;
  box-sizing: border-box;
}
body, html {
  max-height: 667px;
  max-width: 375px;
  margin-right: auto;
  margin-left: auto;
}
#root {
  background-color: darkblue;
}
.App {
  text-align: center;
  background: #00385F;
  position: absolute;
  height: 667px;
  width: 375px;
  display: grid;
  grid-template-columns: 20%;
  grid-template-rows: 10%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

/*  -----HEADER STYLES ----- */

.header-container {
  position: absolute;
  width: inherit;
  height: 100%;
  max-height: 55px;
  /* border: 1px solid white; */
}

.logo-image {
  position: absolute;
  top: 1em;
  left: 1em;
  max-height: 30px;

}
/* ----- NAVIGATION STYLES ---- */
.nav-container {
  margin-top: 2em;
  position: absolute;
  left: -1299px;
  width: fit-content;
  padding-right: .5em;
  height: -webkit-fill-available;
  background: #00385f;
  animation-name: hideNav;
  animation-duration: 1s;
  z-index: 10;
}
@keyframes displayNav {
  from {left:-1299px;opacity:0;}
  to {left:0;opacity: 100%;}
}
@keyframes hideNav {
  from {left:0px;}
  to {left:-1299px;}
}
.nav-container-visible {
  margin-top: 2em;
  position: relative;
  top: 0.4em;
  left: auto;
  animation-name: displayNav;
  animation-duration: 2s;
}
.main-nav {
  color: #ffffff;
  font-size: 1.3em;

}
.top-level-item, .sub-level-item{
  margin: .8em auto;
}
/* -----MENU SLIDE CARDS ----*/

.menu-slide-container {
  width: 95%;
  height: 80%;
}

/*  -----INITIAL LANDING STYLES FOR MENU SLIDES ----- */
.slides, .lower-level-menu {
  position: absolute;
  width: calc(375px * .9);
  height: calc(667px / 1.1);
  top: 10%;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  animation-name: slideToTopL;
  animation-duration: 3s;
  overflow-y: scroll;
}

@keyframes slideToBtmR {
  from {left:0; top:10%;}
  to {left:0; top:15%;}
}
@keyframes slideToTopL {
  from {top:calc(100vh / 6);}
  to {left:0px; top:10%;}
}
@keyframes staggerSlideEffect {
  from {box-shadow: none;}
  to {box-shadow: 0 -1px 1px rgba(0,0,0,0.15),
    0 -10px 0 -5px #eee,
    0 -10px 1px -4px rgba(0,0,0,0.15),
    0 -20px 0 -10px #eee,
    0 -20px 1px -9px rgba(0,0,0,0.15);}
}
@keyframes removeStaggerEffect {
  from {box-shadow: 0 -1px 1px rgba(0,0,0,0.15),
    0 -10px 0 -5px #eee,
    0 -10px 1px -4px rgba(0,0,0,0.15),
    0 -20px 0 -10px #eee,
    0 -20px 1px -9px rgba(0,0,0,0.15);}
  to {box-shadow: none;}
}

.slide-top {
  z-index: 3;
  width: inherit;
  height: inherit;
  background: #FFFFFF;
  mix-blend-mode: soft-light;
  animation-name: removeStaggerEffect;
  animation-duration: 1s;
}



/*  -----STYLES FOR WHEN MENU BUTTON IS ACTIVATED  -----*/

.slides-clicked {
  position: absolute;
  width: calc(375px * .9);
  height: calc(667px / 1.1);
  top: 15%;
  left: 0;
  animation-name: slideToBtmR;
  animation-duration: 2s;
}

/* https://css-tricks.com/snippets/css/stack-of-paper/ */
.slide-top-clicked {
  box-shadow:
  0 -1px 1px rgba(0,0,0,0.15),
  0 -10px 0 -5px #eee,
  0 -10px 1px -4px rgba(0,0,0,0.15),
  0 -20px 0 -10px #eee,
  0 -20px 1px -9px rgba(0,0,0,0.15);
  padding: 30px;
  z-index: 3;
  animation-name: staggerSlideEffect;
  animation-duration: 1s;
}

.fa-bars {
  position: absolute;
  color: white;
  left: auto;
  right: 0.4em;
  top: 0.4em;
}

/* ----SUBMENU L3---- */

.top-level-item:hover {
  cursor: pointer;
}

.lower-level-menu {
  z-index: 5;
  position: absolute;
  top: 10%;
  left: auto;
  right: 1200px;
  color: white;
  background: black;
  animation: none;
}
.lower-level-menu-clicked {
  animation-name: showSub3;
  animation-duration: 1s;
  right: 0;
  z-index: 11;
  top: 5%;
  left: 0;
  right: 0;
}
@keyframes showSub3 {
  from {right:-1299px;opacity:0;}
  to {right:0;opacity: 100%;}
}


.fa-arrow-left {
  position: absolute;
  top: .3em;
  left: .3em;
}

.fa-sort-down {
  padding-left: 5px;
  padding-right: 5px;
}

.hidden-icon {
  display: none;
}

.sub-level-item {
  padding: .8em;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  box-shadow: 0 10px 1px -8.2px rgba(255,255,255,0.15);
  color: wheat;
  width: 100%;
  font-size: 1.1em;
}

.list-item-span {
  display: none;
  justify-content: center;
  padding: 1em;
}
.display-span {
  display: flex;
}